<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
      excepturi, aspernatur
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div>
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
      excepturi, aspernatur temporibus quae nam eos sapiente similique numquam?
      Possimus placeat numquam blanditiis nulla doloremque officia? Ex quia
      laboriosam quod totam?
    </p>
  </div>
</section>
